extends ./layout/index.pug
block compartircontenido 
    h1 #{pagina}
    main.container.mt-5 
        .row
            each hotel in hoteles                 
                .col-md.col-lg-4.mv-4 
                    .card                        
                        .card-body
                            <!--h5="Identificador: " + hotel.id_htl-->
                            h5="Nombre: " + hotel.nombre
                            h5="Dirección: " + hotel.direccion 
                            h5="Teléfono: " + hotel.telefono 
                            h5="Correo: " + hotel.correo 
                            h5="Gerente: " + hotel.Gerente.nombre + " " + hotel.Gerente.ap_paterno + " " + hotel.Gerente.ap_materno
                            blockquote 
                            a(href=`/modificarHot?id_htl=${hotel.id_htl}`,
                            class='btn btn-success btn-clock') Modificar
                            |
                            a(href=`/eliminar?id_htl=${hotel.id_htl}`,
                            class='btn btn-danger btn-clock') Eliminar