extends ./layout/index.pug
block compartircontenido 
    h1 #{pagina}
    main.container.mt-5 
        .row
            each habitacion in habitaciones                 
                .col-md.col-lg-4.mv-4 
                    .card                        
                        .card-body
                            <!--h5="Identificador: "+ habitacion.id_hbt--> 
                            h5="Nombre: " + habitacion.nombre
                            h5="Piso: " +habitacion.piso
                            h5="Refigereador: " + habitacion.refrigerador
                            <!--h5="En Hotel: " +habitacion.Hotele.nombre-->
                            blockquote 
                            a(href=`/modificarHab?id_hbt=${habitacion.id_hbt}`,
                            class='btn btn-success btn-clock') Modificar
                            |
                            a(href=`/eliminarHab?id_hbt=${habitacion.id_hbt}`,
                            class='btn btn-danger btn-clock') Eliminar